.container {
  display:flex;
  justify-content: center;
  font-family:helvetica;
  font-size:35px;
  flex-direction: column;
  align-items: center;
  font-weight:lighter;
  text-align:center;
  margin-top: 180px;
}

button {
  margin-top: 60px;
  padding: 11px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 12px;
}

button:hover {
  color:orange;
  border: 1px solid orange;
}

button:focus {
  outline:none;
}
